<nav th:fragment="dropdownMenu" class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDropdown" aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarDropdown">
            <ul class="navbar-nav">
                <!-- 드롭다운 메뉴 항목들 -->
                <li class="nav-item">
                    <a class="nav-link" href="/category/new">NEW✨</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mens-category">Men's Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/womens-category">Women's Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sales-category">Sale</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
